extends layout

block content
    img(class="popup")
    each v, i in views
        a(href='#{v.origin}', target='_blank', class='link')
            img(src='#{v.url}',width=300)


block scripts
    script(src='/assets/js/infinitescroll.js?')